---
---
<div class="nav-links">
    <a href="/astro-start-finished/">Home</a>
    <a href="/astro-start-finished/about/">About</a>
    <a href="/astro-start-finished/blog/">Blog</a>
    <a href="/astro-start-finished/tags/">Tags</a>
</div>
